
/* ==========================================================================
Navbar
========================================================================== */
.navbar-version {
    font-size: 10px;
    color: #ccc
}

.top-menu-item{
  color: white;
  font-weight: 400;
        font-size: 1.0em; 
}
.top-menu{
  color: white;
  font-weight: 400;
        font-size: 2.0em;
}
.jh-navbar {
  background-image: url("../../../content/images/slide1.jpeg");
    background-color: #045ff2;
    padding: -1.0em -10em;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2);
    .profile-image {
        margin: -10px 0px;
        height: 40px;
        border-radius: 0%;
    }
    .dropdown-item.active, .dropdown-item.active:focus, .dropdown-item.active:hover {
        background-color: #353d47;
    }
    .dropdown-toggle::after {
        margin-left: 0.0em;
    }
    ul.navbar-nav {
        padding: -4.5em;
        .nav-item {
            margin-left: 1.5rem;
        }
    }
    a.nav-link {
        padding-top: 4.5em;
        font-weight: 400;
        font-size: 1.5em;
    }
    .jh-navbar-toggler {
        color: #ccc;
        font-size: 1.5em;
        padding: 10px;
        &:hover {
            color: #fff;
        }
    }
}

@media screen and (min-width: 768px) {
    .jh-navbar-toggler {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .jh-logo-container {
        width: 100%;
    }
}

.navbar-title {
    display: inline-block;
    vertical-align: middle;
}

/* ==========================================================================
Logo styles
========================================================================== */
.navbar-brand {
    &.logo {
        padding: 5px 15px;
        .logo-img {
            height: 45px;
            width: 70px;
            display: inline-block;
            vertical-align: middle;
            background: url("../../../content/images/logo-jhipster.png") no-repeat center center;
            background-size: contain;
        }
    }
}
