<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAppointmentLabel" jhiTranslate="pfApp.appointment.home.createOrEditLabel">Create or edit a Appointment</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!appointment.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="appointment.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pfApp.appointment.date" for="field_date">Date</label>
            <div class="d-flex">
                <input id="field_date" type="datetime-local" class="form-control" name="date" [(ngModel)]="appointment.date"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pfApp.appointment.state" for="field_state">State</label>
            <input type="text" class="form-control" name="state" id="field_state"
                [(ngModel)]="appointment.state" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pfApp.appointment.detail" for="field_detail">Detail</label>
            <input type="text" class="form-control" name="detail" id="field_detail"
                [(ngModel)]="appointment.detail" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pfApp.appointment.reply" for="field_reply">Reply</label>
            <input type="text" class="form-control" name="reply" id="field_reply"
                [(ngModel)]="appointment.reply" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pfApp.appointment.caoch" for="field_caoch">Caoch</label>
            <input type="number" class="form-control" name="caoch" id="field_caoch"
                [(ngModel)]="appointment.caoch" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pfApp.appointment.pr" for="field_pr">Pr</label>
            <input type="number" class="form-control" name="pr" id="field_pr"
                [(ngModel)]="appointment.pr" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
