<div class="row">
<div class="col-md-2">
</div>
<div class="col-md-8">
<div>
  <section>
  <div class="container py-3">
    <div class="card">
      <div class="row ">
        <div class="col-md-4">
            <img src="http://img.lemde.fr/2018/03/15/50/0/1200/800/147/97/60/0/f55e1b4_7980-ihj75x.1c9h.jpg" class="w-100">
          </div>
          <div class="col-md-8 px-3">
            <div class="card-block px-3">
              <h4 class="card-title">Comment Sciences Po Bordeaux démocratise son recrutement </h4>
              <p class="card-text">L’IEP bordelais, qui organise samedi son concours d’entrée, a mis en place un dispositif avec des lycées ruraux de la région afin de diversifier les candidats, raconte Claude Garcia sur son blog.
                </p>
              <p class="card-text"> </p>
              <a href="#" class="btn btn-primary">Read More</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  
</section>
 </div>

 <div>
  <section>
  <div class="container py-3">
    <div class="card">
      <div class="row ">
        <div class="col-md-4">
            <img src="http://img.lemde.fr/2018/02/23/0/82.5/1491/994/147/97/60/0/3f5d9ab_11609-mtojkh.74hnq.jpg" class="w-100">
          </div>
          <div class="col-md-8 px-3">
            <div class="card-block px-3">
              <h4 class="card-title">Les progrès rapides de la recherche chinoise et autres infos scientifiques </h4>
              <p class="card-text">Au menu : une explosion d’étoile capturée par un astronome amateur, les avantages du pessimisme, comment les chauves-souris vampires survivent en ne se nourrissant que de sang, etc.
               </p>
              <p class="card-text"> </p>
              <a href="#" class="btn btn-primary">Read More</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  
</section>
 </div>

 <div>
  <section>
  <div class="container py-3">
    <div class="card">
      <div class="row ">
        <div class="col-md-4">
            <img src="http://img.lemde.fr/2018/03/15/50/0/1200/800/147/97/60/0/f55e1b4_7980-ihj75x.1c9h.jpg" class="w-100">
          </div>
          <div class="col-md-8 px-3">
            <div class="card-block px-3">
              <h4 class="card-title">Géants du numérique : l’UE va proposer une taxe et une fiscalité adaptée</h4>
              <p class="card-text">Mauvaise nouvelle pour les géants du numérique : Bruxelles va tenter de réparer une injustice, mercredi 21 mars, en proposant de taxer leurs chiffres d’affaires en Europe.</p>
              <p class="card-text"> </p>
              <a href="#" class="btn btn-primary">Read More</a>


            </div>
          </div>

        </div>
      </div>
    </div>
  
</section>
 </div>
 </div>
 <div class="col-md-2">
</div>
</div>



 <div class="row" >
   <div class="col-md-7">
   <div id="slideshow">
	   
	</div>
</div>
 <div  class="col-md-5">
<!--  <h4   jhiTranslate="home.title">Welcome, Java Hipster!</h4>
        <p   jhiTranslate="home.subtitle">This is your homepage</p>
        
     -->   
     
   
      
</div>
  
  
 
 </div>
    <div class="row"> 
    <div class="col-md-6">
    <h1 > </h1>
    </div>
    <div class="col-md-6">
    <h1 > </h1>
    </div>
</div>    
 
 
<div class="row"> 
    <div class="col-lg-6 col-md-6 col-sm-6">
    <h1 > </h1>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <h6 >. </h6>
    </div>
</div>  
<br><br>  
<div class="row">
  <div class="col-md-3" *ngFor="let project of data ">
    <div class="panel panel-primary">
      <div class="panel-heading">{{project.title}}</div>
      <div class="panel-body">{{project.title}} created on {{project.creationdate}}</div>
    </div>
  </div>
</div>

<div class="row"> 
    <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-folder-close"></span> Recently approved projects </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                         <div class="alert alert-warning"> 
				                <span>Educational project 
				                 <br>
				                 Creation of a primary school
				                 <br>
				                 Date: Monday 12 December 2018 
				                </span>
				                <br>
				                <button class="btn btn-primary"><span class="glyphicon glyphicon-eye-open"></span>Detail</button>
				            </div>
                           <div class="alert alert-warning"> 
				                <span>Educational agriculture 
				                 <br>
				                 Creation banana plantation
				                 <br>
				                 Date: Friday 22 December 2018 
				                </span>
				                <br>
				                <button class="btn btn-primary"><span class="glyphicon glyphicon-eye-open"></span>Detail</button>
				            </div>
				          <div class="alert alert-warning"> 
				                <span>Transpotation ""project 
				                 <br>
				                 Transportation agency
				                 <br>
				                 Date: Monday 12 December 2018 
				                </span>
				                <br>
				                <button class="btn btn-primary"><span class="glyphicon glyphicon-eye-open"></span>Detail</button>
				            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
    </div>
    <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-folder-open"></span> New projects </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                         <div class="alert alert-warning"> 
				                <span>Educational project 
				                 <br>
				                 Creation of a primary school
				                 <br>
				                 Date: Monday 12 December 2018 
				                </span>
				                <br>
				                <button class="btn btn-primary"><span class="glyphicon glyphicon-eye-open"></span>Detail</button>
				            </div>
                           <div class="alert alert-warning"> 
				                <span>Educational agriculture 
				                 <br>
				                 Creation banana plantation
				                 <br>
				                 Date: Friday 22 December 2018 
				                </span>
				                <br>
				                <button class="btn btn-primary"><span class="glyphicon glyphicon-eye-open"></span>Detail</button>
				            </div>
				          <div class="alert alert-warning"> 
				                <span>Transpotation ""project 
				                 <br>
				                 Transportation agency
				                 <br>
				                 Date: Monday 12 December 2018 
				                </span>
				                <br>
				                <button class="btn btn-primary"><span class="glyphicon glyphicon-eye-open"></span>Detail</button>
				            </div>
                        </div> 
                    </div>
                    
                </div>
            </div>
        </div>
        
</div>

 
  
 
  
 <style type="text/css">
 .card-title{
  text-align: center;
    text-transform: uppercase;
    color: blue;
    font-weight:bold;
 }
 </style>